body {
  background-color: #F1EEE9;
}

::placeholder {
  font-size: 1em;
}

.btn_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}

.btn_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.nav-style {
  background-color: #F1EEE9;
  height: 70px;
}

.top-bg-img {
  background-image: url('/img/2863133.webp');
  background-size: cover;
  width: 100%;
  width: auto;
  height: 648px;
  background-repeat: no-repeat;
}

.top-bg-color {
  background: linear-gradient(rgba(70, 0, 0, .8), rgba(34, 2, 8, .5));
  height: 648px;
}
